version: "3"

services:

  # Firewall service: iptables
  firewall:
    build: ./iptables
    container_name: iptables
    hostname: firewall
    ports:
      - "8388:8388"
    cap_add:
      - NET_ADMIN
    restart: unless-stopped

  # Web service: Nginx
  web-server:
    image: nginx:alpine
    container_name: web-server
    hostname: web
    ports:
     - "80:80"
    restart: unless-stopped

  # SSH service
  ssh-server:
    build: ./sshd
    container_name: ssh-server
    hostname: sshd
    ports:
      - "22:22"
    restart: unless-stopped

  # Telnet service
  telnet-server:
    build: ./telnet
    container_name: telnet-server
    hostname: telnet
    ports:
      - "23:23"
    restart: unless-stopped